@model Innovation

@{
	ViewData["Title"] = "Item";
	Layout = "~/Views/Shared/_Layout3.cshtml";
}

<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Item</title>
</head>

<body>
	<header>
		<nav class="navbar">
			<a href="../Admin/AdminDashboardMain">Terug</a>
		</nav>
		<nav class="navbar">
			<a href="#home" onclick="homeClick()">Beschrijving</a>
			<a href="#cost" onclick="costClick()">Kosten</a>
			<a href="#invest" onclick="investClick()">Opbrengsten</a>
			<a href="#grafisch" onclick="investClick()">Grafisch</a>
		</nav>
	</header>

	<section class="home" id="home">
		<div class="container">
			<div class="swiper-container home-slider">
				<div class="swiper-wrapper wrapper">
					<div class="swiper-slide slide">
						<div class="content">
							<h3>@Model.name</h3>
							<h4>
								@Model.description
							</h4>
						</div>
						@*X<div class="image">
							<img src="../images/logo.png" alt="loge image" style="width:200px; height:200px">
						</div>*@
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--start cost -->
	<section class="menu" id="cost">
		<div class="section-header">
			<h1 class="heading">Kosten</h1>
			<img src="../images/cost.jpg" alt="" style="width:100px; height:100px">
		</div>
		<div class="box-container">
			<div class="box">
				<div class="image">
					<img src="../images/finance.jpg" alt="" style="width:100px; height:100px">
					<h3>Financiën</h3>
				</div>
				<p>
					De totale productiekosten van het aantal benodigde producten van deze innovatie is naar schatting
					<span>@(@Model.amount * @Model.price)</span> per jaar.
				</p>
				<p>
					De implementatiekosten voor deze innovatie is naar schatting
					<span>@Model.implementCosts</span> per jaar.
				</p>
			</div>
			<div class="box">
				<div class="image">
					<img src="../images/time.jpg" alt="" style="width:100px; height:100px">
					<h3>Tijd</h3>
				</div>
				<p>
					De implementatiekosten in aantal uren voor deze innovatie is naar schatting
					<span>@Model.implementHours</span> per jaar.
				</p>
			</div>
		</div>
	</section>
	<!--start innov -->
	<section class="menu" id="invest">
		<div class="section-header">
			<h1 class="image">Opbrengsten</h1>
			<img src="../images/revenue.jpg" alt="" style="width:100px; height:100px">
		</div>

		<div class="box-container">
			<div class="box">
				<div class="image">
					<img src="../images/finance.jpg" alt="" style="width:100px; height:100px">
					<h3>Financiën</h3>
				</div>
				<p>
					De maatschappelijke waarde word aangegeven door middel van het SROI cijfer: 
					<span>@Model.sroi</span>(𝑚𝑎𝑎𝑡𝑠𝑐ℎ𝑎𝑝𝑝𝑒𝑙𝑖𝑗𝑘𝑒 𝑜𝑝𝑏𝑟𝑒𝑛𝑔𝑠𝑡𝑒𝑛 − 𝑚𝑎𝑎𝑡𝑠𝑐ℎ𝑎𝑝𝑝𝑒𝑙𝑖𝑗𝑘𝑒 𝑘𝑜𝑠𝑡𝑒𝑛 / 𝐼𝑛𝑖𝑡𝑖ë𝑙𝑒 𝑖𝑛𝑣𝑒𝑠𝑡𝑒𝑟𝑖𝑛𝑔𝑠𝑢𝑖𝑡𝑔𝑎𝑣𝑒)
					
				</p>
				<p>
					Besparing op de personeelskosten van patiënten die hun heupen breken is naar schatting
					<span>@Model.personelSavings</span> per jaar.
				</p>
				
			</div>
			<div class="box">
				<div class="image">
					<img src="../images/time.jpg" alt="Time foto" style="width:100px; height:100px">
					<h3>Tijd</h3>
				</div>
				<p>
					De personeelskosten in aantal uren waarop word bespaard is naar schatting
					<span>@Model.hoursSavings</span> per jaar.
				</p>
			</div>
		</div>

	</section>

	<!--start grafish -->
	<div class="section-header">
		<h1 class="heading" style="margin-top: 100px">Grafieken</h1>
	</div>
	<div class="menu" style="display:flex; flex-direction:row; justify-content: center;">
		<div style="display: block; margin: 100px;">
			<!-- Ik creëert een canvas-element met de id "myChart". -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
			<canvas id="myChart" style="width:100%;max-width:700px;height: 300px;"></canvas>

			<script>
				var XWaarden = ["Productiekosten", "Implementatiekosten"];
				var y_Waarden = [42, 29];
				var bar_Colors = ["red", "blue"];
				// Het creëert een nieuw Chart-object met het type "pie".
				new Chart("myChart", {
					type: "pie",
					// Het creëert een data-object met de labels en datasets.
					data: {
						labels: XWaarden,
						// Het geeft de grafiek weer.
						datasets: [{
							backgroundColor: bar_Colors,
							data: y_Waarden
						}]
					},
					options: {
						title: {
							display: true,
							text: "@Model.name"
						}
					}
				});
			</script>
		</div>

		<div style="display: block ; margin: 50px; ">
			<!-- Ik creëert een canvas-element met de id "myChart". -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
			<canvas id="myChart1" style="width:100%;max-width:600px; height: 300px;"></canvas>

			<script>
				var X_Waarden = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
				// Het creëert een nieuw Chart-object met het type "line".
				new Chart("myChart1", {
					type: "line",
					// Het creëert een data-object met de labels en datasets.
					data: {
						labels: X_Waarden,
						// Het geeft de grafiek weer.
						datasets: [{
							data: [7000, 6500, 5200, 4600, 3070, 2110, 1330, 2210, 1830, 2478],
							borderColor: "red",
							fill: false
						}, {
							data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
							borderColor: "green",
							fill: false
						}, {
							data: [300, 600, 1500, 2100, 3200, 3500, 4000, 1000, 400, 700],
							borderColor: "blue",
							fill: false
						}]
					},

					options: {
						title: {
							display: true,
							text: "Kosten en onderhoud innovatie"
						}
					}
				});
			</script>
		</div>
	</div>
</body>

</html>