@model Innovation

@{
	ViewData["Title"] = "ItemAdmin";
	Layout = "~/Views/Shared/_Layout3.cshtml";
	int Productiekosten = Model.amount * (int)Model.price;
}

<!doctype html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Item</title>
</head>

<body>
	<header>
		<nav class="navbar">
			<a href="../Admin/AdminDashboardMain">Terug</a>
		</nav>
		<nav class="navbar">
			<a href="#home" onclick="homeClick()">Beschrijving</a>
			<a href="#cost" onclick="costClick()">Kosten</a>
			<a href="#invest" onclick="investClick()">Opbrengsten</a>
			<a href="#grafisch" onclick="investClick()">Grafisch</a>
		</nav>
	</header>

	<section class="home" id="home">
		<div class="container">
			<div class="swiper-container home-slider">
				<div class="swiper-wrapper wrapper">
					<div class="swiper-slide slide">
						<div class="content">
							<h3>@Model.name</h3>
							<h4>
								@Model.description
							</h4>
						</div>
						@*X<div class="image">
							<img src="../images/logo.png" alt="loge image" style="width:200px; height:200px">
						</div>*@
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--start cost -->
	<section class="menu" id="cost">
		<div class="section-header">
			<h1 class="heading">Kosten</h1>
			<img src="../images/cost.jpg" alt="" style="width:100px; height:100px">
		</div>
		<div class="box-container">
			<div class="box">
				<div class="image">
					<img src="../images/finance.jpg" alt="" style="width:100px; height:100px">
					<h3>Financiën</h3>
				</div>
				
				<p>
					De implementatiekosten voor deze innovatie zijn
					<span>@Model.implementCosts</span> euro.
				</p>
				<p>
					De inkoopkosten van deze innovatie zijn
					<span>@Model.price</span> per jaar.
				</p>
				<p>
					De totale kosten voor deze innovatie zijn na 5 jaar
					<span>@(@Model.price * 5 + @Model.implementCosts)</span> euro.
				</p>
			</div>
			<div class="box">
				<div class="image">
					<img src="../images/time.jpg" alt="" style="width:100px; height:100px">
					<h3>Tijd</h3>
				</div>
				<p>
					De kosten in aantal uren voor het implementeren van deze innovatie zijn naar schatting
					<span>@Model.implementHours</span>.
				</p>
			</div>
		</div>
	</section>
	<!--start innov -->
	<section class="menu" id="invest">
		<div class="section-header">
			<h1 class="image">Opbrengsten</h1>
			<img src="../images/revenue.jpg" alt="" style="width:100px; height:100px">
		</div>

		<div class="box-container">
			<div class="box">
				<div class="image">
					<img src="../images/finance.jpg" alt="" style="width:100px; height:100px">
					<h3>Financiën</h3>
				</div>
				<p>
					De maatschappelijke waarde word aangegeven door middel van het SROI cijfer: 
					<span>@Model.sroi</span>(𝑚𝑎𝑎𝑡𝑠𝑐ℎ𝑎𝑝𝑝𝑒𝑙𝑖𝑗𝑘𝑒 𝑜𝑝𝑏𝑟𝑒𝑛𝑔𝑠𝑡𝑒𝑛 − 𝑚𝑎𝑎𝑡𝑠𝑐ℎ𝑎𝑝𝑝𝑒𝑙𝑖𝑗𝑘𝑒 𝑘𝑜𝑠𝑡𝑒𝑛 / 𝐼𝑛𝑖𝑡𝑖ë𝑙𝑒 𝑖𝑛𝑣𝑒𝑠𝑡𝑒𝑟𝑖𝑛𝑔𝑠𝑢𝑖𝑡𝑔𝑎𝑣𝑒)
					
				</p>
				<p>
					Besparing op de personeelskosten van patiënten die hun heupen breken is naar schatting
					<span>@Model.personelSavings</span> per jaar.
				</p>
				
			</div>
			<div class="box">
				<div class="image">
					<img src="../images/time.jpg" alt="Time foto" style="width:100px; height:100px">
					<h3>Tijd</h3>
				</div>
				<p>
					De personeelskosten in aantal uren waarop wordt bespaard is naar schatting
					<span>@Model.hoursSavings</span> per jaar.
				</p>
			</div>
		</div>

	</section>

	<!--start grafish -->
	<div class="section-header" id=" grafisch">
		<h1 class="heading" style="margin-top: 100px">Grafieken</h1>
	</div>
	<div class="menu" style="display:flex; flex-direction:row; justify-content: center;">
		<div style="display: block; margin: 100px;">
			<!-- Ik creëert een canvas-element met de id "myChart". -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
			<canvas id="myChart" style="width:100%;max-width:700px;height: 300px;"></canvas>

			<script>
				var XWaarden = ["Totale kosten na 10 jaar", "Totale besparingen na 10 jaar"];
				var y_Waarden = [@(@Model.price * 10 + @Model.implementCosts), @(@Model.personelSavings * 10)];
				var bar_Colors = ["red", "blue"];
				// Het creëert een nieuw Chart-object met het type "pie".
				new Chart("myChart", {
					type: "pie",
					// Het creëert een data-object met de labels en datasets.
					data: {
						labels: XWaarden,
						// Het geeft de grafiek weer.
						datasets: [{
							backgroundColor: bar_Colors,
							data: y_Waarden
						}]
					},
					options: {
						title: {
							display: true,
							text: "@Model.name"
						}
					}
				});
			</script>
		</div>

		<div style="display: block ; margin: 50px; ">
			<!-- Ik creëert een canvas-element met de id "myChart". -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
			<canvas id="myChart1" style="width:100%;max-width:600px; height: 300px;"></canvas>

			<script>
				var X_Waarden = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20];
				// Het creëert een nieuw Chart-object met het type "line".
				new Chart("myChart1", {
					type: "line",
					// Het creëert een data-object met de labels en datasets.
					data: {
						
						labels: X_Waarden,
						// Het geeft de grafiek weer.
						datasets: [{
							label: 'Personeelskosten Bespaard',
							data: [@(@Model.personelSavings * 1), @(@Model.personelSavings * 2), @(@Model.personelSavings * 3), @(@Model.personelSavings * 4), @(@Model.personelSavings * 5)
								, @(@Model.personelSavings * 6), @(@Model.personelSavings * 7), @(@Model.personelSavings * 8), @(@Model.personelSavings * 9), @(@Model.personelSavings * 10) 
								, @(@Model.personelSavings * 11), @(@Model.personelSavings * 12), @(@Model.personelSavings * 13), @(@Model.personelSavings * 14)
								, @(@Model.personelSavings * 15), @(@Model.personelSavings * 16), @(@Model.personelSavings * 17), @(@Model.personelSavings * 18), @(@Model.personelSavings * 19), @(@Model.personelSavings * 20)],
							borderColor: "green",
							fill: false,
							
						},
						{
							label: 'Inkoop Kosten',
							data: [@(@Model.price * 1), @(@Model.price * 2), @(@Model.price * 3), @(@Model.price * 4), @(@Model.price * 5)
															, @(@Model.price * 6), @(@Model.price * 7), @(@Model.price * 8), @(@Model.price * 9), @(@Model.price * 10)
															, @(@Model.price * 11), @(@Model.price * 12), @(@Model.price * 13), @(@Model.price * 14)
															, @(@Model.price * 15), @(@Model.price * 16), @(@Model.price * 17), @(@Model.price * 18), @(@Model.price * 19), @(@Model.price * 20)],
							borderColor: "red",
							fill: false,

						}
							,
						{
							label: 'Personeelsuren Bespaard',
							data: [@(@Model.hoursSavings * 1), @(@Model.hoursSavings * 2), @(@Model.hoursSavings * 3), @(@Model.hoursSavings * 4), @(@Model.hoursSavings * 5)
							, @(@Model.hoursSavings * 6), @(@Model.hoursSavings * 7), @(@Model.hoursSavings * 8), @(@Model.hoursSavings * 9), @(@Model.hoursSavings * 10)
							, @(@Model.hoursSavings * 11), @(@Model.hoursSavings * 12), @(@Model.hoursSavings * 13), @(@Model.hoursSavings * 14)
							, @(@Model.hoursSavings * 15), @(@Model.hoursSavings * 16), @(@Model.hoursSavings * 17), @(@Model.hoursSavings * 18), @(@Model.hoursSavings * 19), @(@Model.hoursSavings * 20)],
							borderColor: "blue",
							fill: false,

						}]
													
					},

					options: {
						title: {
							display: true,
							text: "Opbrengsten personeelskosten (Y-as) na tijdsverloop in jaren (X-as)"
						}
					}
				});
			</script>
		</div>
		


	</div>

	<div class="menu" style="display:flex; flex-direction:row; justify-content: center;">
		<div style="display: block; margin: 100px;">
			<!-- Ik creëert een canvas-element met de id "myChart". -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
			<canvas id="myChart2" style="width:100%;max-width:700px;height: 300px;"></canvas>

			<script>
				var XWaarden = ["Inkoopkosten (jaarbasis)", "Implementeringskosten", "Personeelskosten Bespaard (jaarbasis)"];
				var y_Waarden = [@Model.price, @Model.implementCosts, @Model.personelSavings];
				var bar_Colors = ["red", "blue", "green"];
				// Het creëert een nieuw Chart-object met het type "pie".
				new Chart("myChart2", {
					type: "bar",
					// Het creëert een data-object met de labels en datasets.
					data: {
						labels: XWaarden,
						// Het geeft de grafiek weer.
						datasets: [{
							label: "Staafdiagram",
							backgroundColor: bar_Colors,
							data: y_Waarden
						}]
					},
					options: {
						title: {
							display: true,
							text: "@Model.name"
						}
					}
				});
			</script>
		</div>

	</div>




</body>


</html>