@model IEnumerable<Innovation>

@{
    ViewData["Title"] = "UserDashboardMain";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Main Dashboard</title>
</head>

<body>
    <div class="dashboard" style="padding: 20px">
        <div class="heading">
            <h2>Welkom</h2>
        </div>
    </div>

    <!--start innov -->
    <section class="menu" id="menu ">
        <div class="section-header">
            <h2 class="sub-heading">De nieuwe innovaties</h2>
            <h1 class="heading">VERRUIM UW GEDACHTEN EN OPEN UW GEEST</h1>
        </div>
        <div class="box-container">
            @foreach (Innovation innov in Model)
			{
            <div class="innov-view">
                <div class="box">
                        <h3>@innov.name</h3>
                    <p>
                            @innov.description
                    </p>
                </div>
                <div class="controller">
                    @*
                    <!-- deze knop wijzigt de innovatiegegevens -->
                    <form action="/Admin/Edit" class="edit">
                        <input type="text" name="name" hidden="hidden">
                        <!-- deze knop bewerkt de innovatiegegevens -->
                        <input type="submit" value="Bewerk">
                    </form>
                    <!-- deze knop verwijdert de innovatiegegevens -->
                        <form action="/Admin/Delete" class="delete" method="post">
                            <input type="text" name="id" hidden="hidden" value="@innov.id">
                            <input type="text" name="name" hidden="hidden" value="@innov.name">
                            <input type="text" name="description" hidden="hidden" value="@innov.description">
                            <input type="text" name="price" hidden="hidden" value="@innov.price">
                            <input type="text" name="amount" hidden="hidden" value="@innov.name">
                            <input type="text" name="implementCosts" hidden="hidden" value="@innov.implementCosts">
                            <input type="text" name="personelSavings" hidden="hidden" value="@innov.personelSavings">
                            <input type="text" name="hoursSavings" hidden="hidden" value="@innov.hoursSavings">
                            <input type="text" name="implementHours" hidden="hidden" value="@innov.implementHours">
                            <input type="text" name="sroi" hidden="hidden" value="@innov.sroi">
                            <input type="submit" value="Verwijderen">
                        </form>
                    *@
                        <!-- deze knop geeft de innovatiegegevens weer-->
                        <form action="/Admin/Item" class="view" method="get">
                            <input type="text" name="name" hidden="hidden" value="@innov.name">
                            <input type="text" name="description" hidden="hidden" value="@innov.description">
                            <input type="text" name="price" hidden="hidden" value="@innov.price">
                            <input type="text" name="amount" hidden="hidden" value="@innov.name">
                            <input type="text" name="implementCosts" hidden="hidden" value="@innov.implementCosts">
                            <input type="text" name="personelSavings" hidden="hidden" value="@innov.personelSavings">
                            <input type="text" name="hoursSavings" hidden="hidden" value="@innov.hoursSavings">
                            <input type="text" name="implementHours" hidden="hidden" value="@innov.implementHours">
                            <input type="text" name="sroi" hidden="hidden" value="@innov.sroi">
                            <input type="submit" value="Details">

                        </form>
                </div>
            </div>
			}

        </div>
    </section>
    </body>

</html>